@import "contact";
@import "home"; 
@import "navbar" ;
 
*{
    margin: 0%; 
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    /* text-decoration: none; */
    background-color: #252B48;
    overflow-x: hidden;
}