
@import "contact" ;
@import "footer" ;

*{
    margin: 0%; 
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    /* text-decoration: none; */
    background-color: #efd89f;
    overflow-x: hidden;
}