@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script&family=Emilys+Candy&family=Rajdhani:wght@300&family=Roboto:wght@100&display=swap');

#home{
    width: 100%;
    height: 100vh;
    display: flex;
}

section{
    width: 100%;
}
section:first-of-type{
    padding: 10rem;
    text-justify: left;
    font-weight: 400;
    align-items: flex-start;
}

section:last-of-type{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

section:last-of-type img{
    margin-right: 6.5rem;
}


section p {
    margin-top: 4rem;
    font-size: 50px;
    margin-left:10px;
    margin-bottom: 3px;
}
section h1{
    font-size: 4.5rem;
}

section img{
    object-fit:cover;
    width: 40vmax;
    height: 40vmax;
    filter:sepia(50%);
}

.typewriter{
    font-size: 2rem;
    font-family: 'Abel', sans-serif;
    margin-left: 3px;
    letter-spacing: 2px;
}

section a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

section button{
    margin-top: 5rem;
    margin-left: auto;
}

