@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Crete+Round&family=Lilita+One&display=swap');

.nav{
    /* background-color: transparent; */
    /* align-items: center;
    display: flex; */
    justify-content: space-evenly;
    z-index: 60;
    width: 100%;
    height: 80px;
    top: 0;
    position: sticky;
    transition: background-color 0.4s ease-in-out;
    /* position: fixed ; */
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* font-family: 'Cinzel', serif; */
    font-family: 'Crete Round', serif;
    /* font-family: 'Lilita One', sans-serif;  */

}

.nav-left a img{
    width: 80px;
    height: 80px;
}
.nav-right{
    margin-left: 5rem;
}

.nav-right a{
    text-decoration: none;
    color: aliceblue;
    margin: 25px;
    font-size: 25px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.opaque {
    background-color: #1c1f30;
    backdrop-filter: blur(8px) ;
  }

.social-icons a{
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
    font-size: 25px;
}

.social-icons a:hover{
    color: #efd89f;
    transition: color 0.3s ease-in-out;
}

.nav-right a:hover{
    color: #efd89f ; 
}
