@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Crete+Round&family=Lilita+One&display=swap');

.nav{
    /* align-items: center;
    display: flex; */
    background-color: transparent;
    justify-content: space-evenly;
    z-index: 6000;
    width: 100%;
    height: 80px;
    top: 0%;
    position:fixed;
    transition: background-color 0.4s ease-in-out;
    /* background-color: transparent; */
    /* position: fixed ; */
}
.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* font-family: 'Cinzel', serif; */
    font-family: 'Crete Round', serif;
    /* font-family: 'Lilita One', sans-serif;  */

}

.nav-left a img{
    width: 80px;
    height: 80px;
}
.nav-right{
    margin-left: 2rem;
}

.nav-right a{
    text-decoration: none;
    color: rgb(65, 74, 81);
    margin: 25px;
    font-size: 2rem;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.opaque {
    /* background-color: transparent; */
    background-color: rgba(96, 96, 93, 0.225);;
    backdrop-filter: blur(20px) ;
    /* color: aliceblue; */
  }

.social-icons a{
    text-decoration: none;
    color: rgb(65, 74, 81);
    margin: 10px;
    font-size: 2rem;
}

.social-icons a:hover{
    color: #f1ebde;
    transition: color 0.3s ease-in-out;
}

.nav-right a:hover{
    color: #f1ebde ; 
}
